<div id="courseWrapper">
  <div id="courseContainer">
    <h1><%= @user.name %>の時間割表</h1>

    <div id="weekSchedule">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>日</th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
          </tr>
        </thead>
        <tbody>
        <% @courses.each.with_index(1) do |course, i| %>
          <tr>
            <td>
              <ul>
                <li><%= i %>時間目</li>
                  <li>
                  <% time = @times.find_by(class_num: i)%>
                  
                  <% start_time = Time.new(2020, 1, 1, time.start_hour, time.start_minute, 0) %>
                  <% end_time = Time.new(2020, 1, 1, time.end_hour, time.end_minute, 0) %>
                  
                    <%= start_time.strftime("%H:%M") %> - <%= end_time.strftime("%H:%M") %>
                  </li>
                <%= link_to("編集", "/users/#{@user.id}/course_times/#{@times.find_by(class_num: i).id}/edit") %>
              </ul>
            </td>
            <% course.each do |day| %>
            <td>
              <ul>
                <li><%= day.course %></li> 
                <li><%= day.prof %></li> 
                <li><%= day.location %></li>
                <li><%= day.pass  %></li>
                <%= link_to("編集", "/users/#{@user.id}/courses/#{day.id}/edit") %>
              </ul>
            </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>